<p id="notice"><%= notice %></p>

<p>
  <strong>Borough:</strong>
  <%= @premise.borough %>
</p>

<p>
  <strong>Block:</strong>
  <%= @premise.block %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @premise.lot %>
</p>

<p>
  <strong>Bbl:</strong>
  <%= @premise.bbl %>
</p>

<p>
  <strong>Market:</strong>
  <%= @premise.market %>
</p>

<p>
  <strong>Submarket:</strong>
  <%= @premise.submarket %>
</p>

<p>
  <strong>Address:</strong>
  <%= @premise.address %>
</p>

<p>
  <strong>Percent of total retail:</strong>
  <%= @premise.percent_of_total_retail %>
</p>

<p>
  <strong>Premise type:</strong>
  <%= @premise.premise_type %>
</p>

<p>
  <strong>Basement sf:</strong>
  <%= @premise.basement_sf %>
</p>

<p>
  <strong>Ground floor sf:</strong>
  <%= @premise.ground_floor_sf %>
</p>

<p>
  <strong>Mezzanine sf:</strong>
  <%= @premise.mezzanine_sf %>
</p>

<p>
  <strong>Upper floor sf:</strong>
  <%= @premise.upper_floor_sf %>
</p>

<p>
  <strong>Shopping center:</strong>
  <%= @premise.shopping_center %>
</p>

<p>
  <strong>Step up or down:</strong>
  <%= @premise.step_up_or_down %>
</p>

<p>
  <strong>Stories of retail:</strong>
  <%= @premise.stories_of_retail %>
</p>

<p>
  <strong>Street frontage:</strong>
  <%= @premise.street_frontage %>
</p>

<p>
  <strong>Ceiling:</strong>
  <%= @premise.ceiling %>
</p>

<p>
  <strong>Corner store:</strong>
  <%= @premise.corner_store %>
</p>

<p>
  <strong>Total sf:</strong>
  <%= @premise.total_sf %>
</p>

<p>
  <strong>Location grade:</strong>
  <%= @premise.location_grade %>
</p>

<p>
  <strong>Quality grade:</strong>
  <%= @premise.quality_grade %>
</p>

<p>
  <strong>Premise grade:</strong>
  <%= @premise.premise_grade %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @premise.tenant %>
</p>

<p>
  <strong>Occupancy:</strong>
  <%= @premise.occupancy %>
</p>

<p>
  <strong>Retail type:</strong>
  <%= @premise.retail_type %>
</p>

<p>
  <strong>Retail subtype:</strong>
  <%= @premise.retail_subtype %>
</p>

<p>
  <strong>Retailer size:</strong>
  <%= @premise.retailer_size %>
</p>

<p>
  <strong>Retailer price point:</strong>
  <%= @premise.retailer_price_point %>
</p>

<p>
  <strong>Retailer nationality:</strong>
  <%= @premise.retailer_nationality %>
</p>

<p>
  <strong>Additonal retailer info:</strong>
  <%= @premise.additonal_retailer_info %>
</p>

<p>
  <strong>Comp:</strong>
  <%= @premise.comp %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @premise.zip_code %>
</p>

<p>
  <strong>Xcoordinate:</strong>
  <%= @premise.xcoordinate %>
</p>

<p>
  <strong>Ycoordinate:</strong>
  <%= @premise.ycoordinate %>
</p>

<%= link_to 'Edit', edit_premise_path(@premise) %> |
<%= link_to 'Back', premises_path %>
