<p id="notice"><%= notice %></p>

<p>
  <strong>Borough:</strong>
  <%= @property.borough %>
</p>

<p>
  <strong>Block:</strong>
  <%= @property.block %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @property.lot %>
</p>

<p>
  <strong>Market:</strong>
  <%= @property.market %>
</p>

<p>
  <strong>Submarket:</strong>
  <%= @property.submarket %>
</p>

<p>
  <strong>Building status:</strong>
  <%= @property.building_status %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @property.zip_code %>
</p>

<p>
  <strong>Bldg class:</strong>
  <%= @property.bldg_class %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Secondary property type:</strong>
  <%= @property.secondary_property_type %>
</p>

<p>
  <strong>Zoning:</strong>
  <%= @property.zoning %>
</p>

<p>
  <strong>Land use:</strong>
  <%= @property.land_use %>
</p>

<p>
  <strong>Number of buildings:</strong>
  <%= @property.number_of_buildings %>
</p>

<p>
  <strong>Building sf:</strong>
  <%= @property.building_sf %>
</p>

<p>
  <strong>Commercial sf:</strong>
  <%= @property.commercial_sf %>
</p>

<p>
  <strong>Residential sf:</strong>
  <%= @property.residential_sf %>
</p>

<p>
  <strong>Office sf:</strong>
  <%= @property.office_sf %>
</p>

<p>
  <strong>Retail sf:</strong>
  <%= @property.retail_sf %>
</p>

<p>
  <strong>Garage sf:</strong>
  <%= @property.garage_sf %>
</p>

<p>
  <strong>Storage sf:</strong>
  <%= @property.storage_sf %>
</p>

<p>
  <strong>Factory sf:</strong>
  <%= @property.factory_sf %>
</p>

<p>
  <strong>Other sf:</strong>
  <%= @property.other_sf %>
</p>

<p>
  <strong>Number of floors:</strong>
  <%= @property.number_of_floors %>
</p>

<p>
  <strong>Total units:</strong>
  <%= @property.total_units %>
</p>

<p>
  <strong>Residential units:</strong>
  <%= @property.residential_units %>
</p>

<p>
  <strong>Commercial units:</strong>
  <%= @property.commercial_units %>
</p>

<p>
  <strong>Lot front:</strong>
  <%= @property.lot_front %>
</p>

<p>
  <strong>Lot depth:</strong>
  <%= @property.lot_depth %>
</p>

<p>
  <strong>Lot area:</strong>
  <%= @property.lot_area %>
</p>

<p>
  <strong>Lot type:</strong>
  <%= @property.lot_type %>
</p>

<p>
  <strong>Building frontage:</strong>
  <%= @property.building_frontage %>
</p>

<p>
  <strong>Building depth:</strong>
  <%= @property.building_depth %>
</p>

<p>
  <strong>Built far:</strong>
  <%= @property.built_far %>
</p>

<p>
  <strong>Resi far:</strong>
  <%= @property.resi_far %>
</p>

<p>
  <strong>Commercial far:</strong>
  <%= @property.commercial_far %>
</p>

<p>
  <strong>Facility far:</strong>
  <%= @property.facility_far %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @property.year_built %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @property.ownername %>
</p>

<p>
  <strong>Zonedist1:</strong>
  <%= @property.zonedist1 %>
</p>

<p>
  <strong>Xcoord:</strong>
  <%= @property.xcoord %>
</p>

<p>
  <strong>Ycoord:</strong>
  <%= @property.ycoord %>
</p>

<p>
  <strong>Has retail:</strong>
  <%= @property.has_retail %>
</p>

<p>
  <strong>Number of retail premises:</strong>
  <%= @property.number_of_retail_premises %>
</p>

<p>
  <strong>Retail total space:</strong>
  <%= @property.retail_total_space %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
