<%= form_with(model: best_score, local: true) do |form| %>
  <% if best_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(best_score.errors.count, "error") %> prohibited this best_score from being saved:</h2>

      <ul>
      <% best_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game %>
    <%= form.text_field :game, id: :best_score_game %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :best_score_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
