<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @best_score.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @best_score.score %>
</p>

<%= link_to 'Edit', edit_best_score_path(@best_score) %> |
<%= link_to 'Back', best_scores_path %>
